:root{
  --blue: #4386af;
  --gray: #333333;
  --red: #ff0000;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Futura LT Book", sans-serif;
}

a, a:visited, a:hover, a:active{
  text-decoration: none; color: var(--gray);
}

.header h1{
  font-weight: 900;
  color: var(--gray);
}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 800;
}